html {
  background: url(./fon.jpg);
  background-size: cover;
}

body {
  color:bisque;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: red;
}

.aforizm {
  padding: 50px 50px 0;
  text-indent: 50px;
  font-size: 30px;
  line-height: 1.5;
  margin: 20px 150px 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.author {
  padding: 20px 50px 50px;
  text-indent: 100px;
  font-size: 30px;
  line-height: 1.5;
  margin: 0 150px;
  background-color: rgba(0, 0, 0, 0.5);
  color: gold;
  text-align: end;
}

a {
  padding: 20px 50px;
  width: 150px;
  background-color: coral;
  border-radius: 5px;
  text-align: center;
  font-size: 25px;
  font-weight: 900;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  color: indigo;
}